@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "header.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

body {
    width: 100%;
    background: #fefefe;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
}

.content {
    width: 900px;
    max-width: 100%;
    padding: 10px 15px;
    margin: auto;
    box-shadow: 0 0 4px 1px #585858;
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .content {
        box-shadow: none;
    }

}

button {
    border: none;
    padding: 10px;
    margin-top: 10px;
}
button[type=submit] {
    background: #09c;
    color: #ffffff;
}

h1 {
    width: 100%;
    margin-bottom: 15px;
}
